<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>图书借阅系统</title>
		<link rel="stylesheet" type="text/css" href="../static/admin/layui/css/layui.css" th:href="@{/admin/layui/css/layui.css}"/>
		<link rel="stylesheet" type="text/css" href="../static/admin/css/admin.css" th:href="@{/admin/css/admin.css}"/>
	</head>
	<body>
		<div class="layui-tab page-content-wrap">
		  <ul class="layui-tab-title">
		    <li class="layui-this">修改资料</li>
		    <li>修改密码</li>
		  </ul>
		  <div class="layui-tab-content">
		    <div class="layui-tab-item layui-show">
		    	<form class="layui-form"  style="width: 90%;padding-top: 20px;">
				  <div class="layui-form-item" hidden>
				    <label class="layui-form-label">ID：</label>
				    <div class="layui-input-block">
				      <input type="text" name="id" disabled  class="layui-input layui-disabled" th:value="${sysUser.id}">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">用户名：</label>
				    <div class="layui-input-block">
				      <input type="text" name="username" required  class="layui-input" th:value="${sysUser.username}">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">邮箱：</label>
				    <div class="layui-input-block">
				      <input type="text" name="email" required  lay-verify="required" placeholder="请输入邮箱" class="layui-input" th:value="${sysUser.email}">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="adminInfo">立即提交</button>
				    </div>
				  </div>
				</form>
		    </div>
		    <div class="layui-tab-item">
		    	<form class="layui-form" v style="width: 90%;padding-top: 20px;">
					<div class="layui-form-item" hidden>
						<label class="layui-form-label">ID：</label>
						<div class="layui-input-block">
							<input type="text" name="id" disabled  class="layui-input layui-disabled" th:value="${sysUser.id}">
						</div>
					</div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">用户名：</label>
				    <div class="layui-input-block">
				      <input type="text" name="username" disabled  class="layui-input layui-disabled" th:value="${sysUser.username}">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">旧密码：</label>
				    <div class="layui-input-block">
				      <input type="password" name="password1" required lay-verify="required" autocomplete="off" placeholder="请输入密码"  class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">新密码：</label>
				    <div class="layui-input-block">
				      <input type="password" name="password2" required lay-verify="required" placeholder="请输入密码"  class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <label class="layui-form-label">重复密码：</label>
				    <div class="layui-input-block">
				      <input type="password" name="password3" required lay-verify="required" placeholder="请输入密码"  class="layui-input">
				    </div>
				  </div>
				  <div class="layui-form-item">
				    <div class="layui-input-block">
				      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="adminPassword">立即提交</button>
				    </div>
				  </div>
				</form>
		    </div>
		  </div>
		</div>
	<script src="../static/admin/layui/layui.js" type="text/javascript" th:src="@{/admin/layui/layui.js}"></script>
	<script>
		//Demo
		layui.use(['form','element','jquery'], function(){
		  var form = layui.form();
		  var element = layui.element();
		  var $ = layui.jquery;
		  form.render();
		  //修改资料
		  form.on('submit(adminInfo)', function(data){
			  $.ajax({
				  url:'../user/updateinfo',
				  type:'post',
				  data:data.field,
				  dataType:"json",
				  success:function(data){
				  	debugger;
					  if(data.error){
						  layer.alert(data.error)
					  } else{
						  layer.alert(data.msg)
					  }
				  },
				  error:function(e){
				  	debugger;
					  layer.alert("提交失败！")
				  },

			  });
			  return false;
		  });
		  //修改密码
		   form.on('submit(adminPassword)', function(data){
			   if (!data.field.ccss){
				   layer.alert('请选择是否有财产损失');
				   // alert('请选择是否有人身伤害')
			   }
			   if (!data.field.rssh){
				   layer.alert('请选择是否有人身伤害');
				   // alert('请选择是否有人身伤害')
			   }
			   $.ajax({
				   url:'/plus/diy.php',
				   type:'post',
				   data:data.field,
				   dataType:"html",
				   success:function(data){
					   if(data){
						   layer.alert("提交成功！")
					   }
					   else{
						   layer.alert("提交失败！")
					   }
				   },
				   error:function(e){
					   layer.alert("提交失败！")
				   },

			   });
			   return false;
		   });
		});
	</script>
	</body>
</html>
