<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>登录</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet"  href="../static/admin/layui/css/layui.css" th:href="@{/admin/layui/css/layui.css}"/>
		<link rel="stylesheet"  href="../static/admin/css/login.css" th:href="@{/admin/css/login.css}"/>
	</head>

	<body>
		<div class="m-login-bg">
			<div class="m-login">
				<h3>图书借阅管理系统</h3>
				<div class="m-login-warp">
					<div class="layui-tab page-content-wrap">
						<ul class="layui-tab-title">
							<li class="layui-this">用户登录</li>
							<li>用户注册</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<form class="layui-form" th:action="@{/login}" method="post">
									<div class="layui-form-item">
										<input type="text" name="username" lay-verify="required" placeholder="用户名/邮箱" class="layui-input">
									</div>
									<div class="layui-form-item">
										<input type="password" name="password" lay-verify="required" placeholder="密码"  class="layui-input">
									</div>
									<!--<div class="layui-form-item">
										<div class="layui-inline">
											<input type="text" name="verity" required lay-verify="required" placeholder="验证码" autocomplete="off" class="layui-input">
										</div>
										<div class="layui-inline">
											<img class="verifyImg" onclick="this.src=this.src+'?c='+Math.random();" th:src="@{/admin/images/login/yzm.jpg}" />
										</div>
								    </div>-->
									<div class="layui-form-item m-login-btn">
										<div align="center">
											<button class="layui-btn-lg layui-btn-radius layui-btn-fluid layui-btn-normal"  type="submit">登录</button>
										</div>
									</div>
									<div class="layui-form-item">
										<p th:text="${error}" style="color: red;text-align: center"></p>
									</div>

								</form>
							</div>
							<div class="layui-tab-item">
								<form class="layui-form">
									<div class="layui-form-item">
										<input type="text" name="username" lay-verify="required" placeholder="用户名"  class="layui-input">
									</div>
									<div class="layui-form-item">
										<input type="password" name="password" lay-verify="password" placeholder="密码"  class="layui-input">
									</div>
									<div class="layui-form-item">
										<input type="text" name="email" lay-verify="required|email" placeholder="邮箱"  class="layui-input">
									</div>
									<div class="layui-form-item m-login-btn">
										<div align="center">
											<button class="layui-btn-lg layui-btn-radius layui-btn-fluid layui-btn-normal" lay-submit lay-filter="register" >注册</button>
										</div>
									</div>
									<div class="layui-form-item">
										<p th:text="${error}" style="color: red;text-align: center" id="error"></p>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
				<p class="copyright">Copyright 2020-2021 by 惋紅曲</p>
			</div>
		</div>
		<script src="../static/admin/layui/layui.js" th:src="@{/admin/layui/layui.js}"></script>
		<script>
			layui.use(['form','element','jquery'], function(){
				var form = layui.form;
				var element = layui.element;
				var $ = layui.jquery
				form.render();

				//自定义验证规则
				form.verify({
					password: [/(.+){6,12}$/, '密码必须6到12位']
				});

				//注册
				form.on('submit(register)', function(data){
					$.ajax({
						url:'register',
						type:'post',
						data:data.field,
						dataType:"json",
						success:function(data){
							if(data.error){
								$("#error").text(data.error);
							} else{
								window.location.href='index';
							}
						},
						error:function(e){
							$("#error").text("注册异常");
						},

					});
					return false;
				});
			});
		</script>
	</body>

</html>
